@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #050A32;
  --accent: #FFC300;
  --card-background: #BFC3D4;
  --success: #4CAF50;
  --error: #FF5252;
}

.dark {
  --background: #050A32;
  --foreground: #FFFFFF;
  --accent: #2AEEB9;
  --card-background: #0B1347;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  overflow-x: hidden;
  @apply antialiased transition-colors duration-500;
}

.container-center {
  @apply flex flex-col items-center justify-center min-h-screen px-4;
}

.card {
  background-color: var(--card-background); 
  @apply p-6 rounded-xl shadow-md w-full;
}

.card-sm {
  @apply max-w-sm mx-auto;
}

.card-interactive {
  @apply transition-transform duration-300 hover:scale-[1.02];
}

.input {
  border-color: var(--foreground); 
  background-color: var(--background);
  @apply w-full p-2 rounded-md;
}

.button-primary {
  background-color: var(--accent);
  color: var(--foreground); 
  @apply font-semibold py-2 px-4 rounded-md transition hover:opacity-70 cursor-pointer;
}