@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #050a32;
  --accent: #ffc300;
  --card-background: #bfc3d4;
  --success: #4caf50;
  --error: #ff5252;

  /* Performance Colors */
  --perf-insufficient: hsl(0, 84%, 60%);
  --perf-regular: hsl(35, 90%, 55%);
  --perf-decent: hsl(50, 90%, 50%);
  --perf-very-good: hsl(100, 70%, 45%);
  --perf-excellent: hsl(140, 70%, 40%);
}

.dark {
  --background: #050a32;
  --foreground: #ffffff;
  --accent: #2aeeb9;
  --card-background: #0b1347;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  overflow-x: hidden;
  @apply antialiased transition-colors duration-500;
}

.container-center {
  @apply flex min-h-screen flex-col items-center justify-center px-4;
}

.card {
  background-color: var(--card-background);
  @apply w-full rounded-xl p-6 shadow-md;
}

.card-sm {
  @apply mx-auto max-w-sm;
}

.card-interactive {
  @apply transition-transform duration-300 hover:scale-[1.02];
}

.input {
  border-color: var(--foreground);
  background-color: var(--background);
  @apply w-full rounded-md p-2;
}

.button-primary {
  background-color: var(--accent);
  color: var(--foreground);
  @apply cursor-pointer rounded-md px-4 py-2 font-semibold transition hover:opacity-70;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}
